version: "3.9"
services:
  web:
    restart: always
    build:
      context: ./web
      dockerfile: ./ops/Dockerfile
    env_file: .env-dev
    expose:
      - "8000"
    links:
#      - postgres:postgres
      - redis:redis
    volumes:
        - ./web:/code
    command: python ./manage.py runserver 0.0.0.0:8000
  
#  postgres:
#    restart: always
#    image: postgres:9.6
#    ports:
#      - "5432:5432"
#    volumes:
#      - ./data/db:/var/lib/postgresql/data
#  
  redis:
    restart: always
    image: redis:latest
    ports:
      - "6379:6379"
    command: ["sh", "-c", "redis-server --appendonly yes"]
    volumes:
      - ./queue_data:/data

networks:
    default:
        external:
            name: webproxy
