{% extends "base.html" %}
{% load static %}

{% block title %}Albums{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1>Albums</h1>
    </div>
</div>

{% if object_list %}
{% for album in object_list.all %}
<div class="row">
    <div class="col-lg-12 album-sample">
        <h2><a href="{{album.get_absolute_url}}">{{album.title}}</a></h2>
        <p>{{album.date_added | date:"F d, Y"}}</p>
	{% for photo in album.photos.all %}	
                <a href="{{ photo.get_absolute_url }}">
                    <img src="{{ photo.src.url }}" class="img-thumbnail" width="100" />
                </a>
        {% endfor %}
	{% for video in album.videos.all %}	
         {% if video.thumbnail %}
	    <a href="{{video.get_absolute_url }}"><img src="{{video.thumbnail.url }}"
                class="img-thumbnail" width="100" /></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-lg-12">No albums were found.</div>
</div>
{% endif %}
{% endblock %}
