{% extends "base.html" %}

{% block title %}All galleries{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1>All galleries</h1>
    </div>
</div>

{% if object_list %}
{% for gallery in object_list.all %}
<div class="row">
    <div class="col-lg-12">
        <h2>{{gallery.title}}</h2>
        <p> Published {{gallery.date_added}}</p>
        <ul>
	{% for photo in gallery.photos.all %}	
	    <li><img src="{{photo.image.url}}" width="300" /></li>
        {% endfor %}
	{% for video in gallery.videos.all %}	
	    <li><video controls src="{{video.file.url}}" width="300"></video></li>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="col-lg-12">No galleries were found.</div>
</div>
{% endif %}
{% endblock %}
