Django >=3.0, <4.0
gunicorn
psycopg2
redis
python-magic

#Dev Things
selenium>=3.141, <4.0
django-anymail[mailgun]
django-rq
django-photologue>=3.7, <4.0
django-video-encoding>=1.0, <2.0
django-drf-filepond
pytest-django
